<div
        ng-show="vm.dom && vm.nodeName"
>
    <div
            ng-repeat="parent in vm.parents"
            style="margin-left: {{$index * 15}}px;"
    ><{{(parent+ '').toLowerCase()}}></div>
    <div
            style="font-weight:700; margin-left: {{vm.parents.length * 15}}px;"
    ><{{(vm.nodeName + '').toLowerCase()}}></div>
</div>
<div
        ng-show="!vm.dom"
        style="color:grey;"
>[no elements in angular.element($0).isolateScope()]</div>
<div
        style="margin-left: {{(vm.parents.length + 1) * 15}}px;"
>
<subelements
        ng-if="vm.dom"
        root-obj="vm.dom"
        chain-key="root"
        opened="vm.opened"

        root="true"
        node-name="vm.nodeName"
></subelements>
</div>